
h1
{
	color: rgb(0, 255, 234); 
	font-size: 40px;
}
.bodyBackgorund {
	background-image:url("bg1.jpg");
	background-position:center;
	background-size:cover;
}

#myCanvas{
	border-width:10px;
	background-color:white;
	border-style:ridge;
}


